<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Layout</title>
</head>

<body>

    <div class="container">

        <div class="grid-container">
            <!-- left-side blog | section -->
            <div class="blogs">

                <div class="blog">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTUfyztflTl4ww8P-nYS30WXprlsbtX1hMyHXy1ut4oA&s=10"
                        alt="man singer">

                    <h2 class="blog-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, mollitia?
                    </h2>
                    <div class="badge-date">
                        <span class="badge">Music </span>
                        <span class="date">November 29, 2019</span>
                    </div>
                </div>
                <div class="blog">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTUfyztflTl4ww8P-nYS30WXprlsbtX1hMyHXy1ut4oA&s=10"
                        alt="man singer">

                    <h2 class="blog-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, mollitia?
                    </h2>
                    <div class="badge-date">
                        <span class="badge">Music </span>
                        <span class="date">November 29, 2019</span>
                    </div>
                </div>
                <div class="blog">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTUfyztflTl4ww8P-nYS30WXprlsbtX1hMyHXy1ut4oA&s=10"
                        alt="man singer">

                    <h2 class="blog-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, mollitia?
                    </h2>
                    <div class="badge-date">
                        <span class="badge">Music </span>
                        <span class="date">November 29, 2019</span>
                    </div>
                </div>
                <div class="blog">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTUfyztflTl4ww8P-nYS30WXprlsbtX1hMyHXy1ut4oA&s=10"
                        alt="man singer">

                    <h2 class="blog-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, mollitia?
                    </h2>
                    <div class="badge-date">
                        <span class="badge">Music </span>
                        <span class="date">November 29, 2019</span>
                    </div>
                </div>

            </div>


            <!-- right-side ads | section -->
            <div class="ads">

                <!-- img ad  -->
                 <div class="ad"></div>

                 <div class="instagram">
                    <!-- user  -->
                     <div class="user">
                        <div class="profile">

                            <img src="https://i.pinimg.com/736x/eb/6d/f7/eb6df7a78439ea91ec5bd749b8117253.jpg" alt="profile-image">
                            <div class="user-info">
                                <span>@username</span>
                                <span>3678 followers</span>
                            </div>
                        </div>
                        <button class="follow-btn">Follow</button>
                     </div>
                     <!-- image  -->
                      <div class="gallery">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiGDATeSvl2gU1UJvKAePVLL0odO6QvR8dba_qFtSQlkmXERp19qJXolU&s=10" alt="">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiGDATeSvl2gU1UJvKAePVLL0odO6QvR8dba_qFtSQlkmXERp19qJXolU&s=10" alt="">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiGDATeSvl2gU1UJvKAePVLL0odO6QvR8dba_qFtSQlkmXERp19qJXolU&s=10" alt="">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiGDATeSvl2gU1UJvKAePVLL0odO6QvR8dba_qFtSQlkmXERp19qJXolU&s=10" alt="">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiGDATeSvl2gU1UJvKAePVLL0odO6QvR8dba_qFtSQlkmXERp19qJXolU&s=10" alt="">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiGDATeSvl2gU1UJvKAePVLL0odO6QvR8dba_qFtSQlkmXERp19qJXolU&s=10" alt="">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiGDATeSvl2gU1UJvKAePVLL0odO6QvR8dba_qFtSQlkmXERp19qJXolU&s=10" alt="">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiGDATeSvl2gU1UJvKAePVLL0odO6QvR8dba_qFtSQlkmXERp19qJXolU&s=10" alt="">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiGDATeSvl2gU1UJvKAePVLL0odO6QvR8dba_qFtSQlkmXERp19qJXolU&s=10" alt="">
                      </div>
                 </div>
            </div>
        </div>
    </div>




</body>

</html>