.btn-card {
    padding: 20px;
    border: 2px solid black;
    background-color: powderblue;
    width: 500px;
    display: inline;


}

.container {
    text-align: center;
    /* marging: 0 auto; */
    margin: 0 auto;
}

.profile {
    /* display: inli; */
    /* margin: 0 auto; */
    display: inline;
    margin: 0 auto;
    text-align: center;
}

.profile-card {
    width: 200px;
    padding: 20px;
    margin: 40px;
    border: 5px solid blue;
    display: inline-block;
}

.profile-card img {
    width: 100%;
}